# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
static_root/
staticfiles/

# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db
